<div class="exsample-container">
  <form [formGroup]="photoForm" class="example-form" (ngSubmit)="addPhoto()">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <div class="example-full-width">
          <input type="file" placeholder="photo name" formControlName="photoFile" multiple>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="desricption" rows="2" formControlName="desriction"></textarea>
        </mat-form-field>
      </mat-list-item>
    </mat-list>
    <button type="submit" mat-raised-button color="primary" class="mt-5">SAVE</button>
  </form>
<app-photo-list></app-photo-list>
</div>